*{
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 203, 11);
}
.pokedex{
    min_height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    padding:30px 15px;
    text-align: center;
}

.cartao{
    width:100%;
    background-color:white;
    border:5px solid#222;
    border-radius:20px;
    padding:25px;
}
h1{
    color:#e33535
}
.pesquisa{
    margin-bottom:20px;

}
.pesquisa input{
    padding:10px;
    border:2px solid #222;
    border-radius: 8px;
}
.pesquisa button{
    padding:10px;
    margin-left: 5px;
    background-color: #e33535;
    color: white;
    border: 2px solid #222;
    border-radius: 8px
}

.informacoes{
    background-color: #f2f2f2;
    border: 2px solid #222;

}


